.footer {
    margin: 20px 0 0 ;
    padding: 10px;
    width: 100%;
    min-height: auto;
}

.list-group-item-1{
    border:0;
    border-bottom: 1px solid #ddd;
    padding-left:5px;
    margin-bottom: 0;
}
.pad10{
    padding:10px;
}
.pad5{
    padding:5px;
}

.content-theme1{
    background: url(/images/theme1.png);
    border-color:#fff;
    border-radius: 4px;
    padding:10px;
    padding-bottom: 40px;
}
.navbar{
    margin-bottom:5px;
}