html,body,#app
{
    height: 100%;
}
#app .container{
    position: relative;
    z-index: 2;
}
.footer {
    margin: 20px 0 0 ;
    padding: 10px;
    width: 100%;
    min-height: auto;
}

.list-group-item-1{
    border:0;
    border-bottom: 1px solid #ddd;
    padding-left:5px;
    margin-bottom: 0;
}
.pad10{
    padding:10px;
}
.pad5{
    padding:5px;
}
.pad0{
    padding:0px;
}
.content-theme1{
    background: url(/images/theme1.png);
    border-color:#fff;
    border-radius: 4px;
    padding:10px;
    padding-bottom: 40px;
}
.navbar{
    margin-bottom:5px;
}
@media all and(max-device-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding:0;
        margin:0
    }
}
/*pc端样式*/
@media screen and (min-width: 1024px){
    #app{
        background: url(/statics/images/bg1.jpg) no-repeat fixed center top;
        height:100% ;
    }
    .footer{
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        background: rgba(248,248,248,0.6);
    }
}

/*pc端样式*/
@media screen and (min-width: 1440px){
    #app{
        background: url(/statics/images/bg3.jpg) no-repeat fixed center top;

    }
    .footer{
        background: rgba(248,248,248,1);
    }
}